Click==7.0
-e git+git@github.com:MartinThoma/implicit.git@0648da06139cb56262818ee6a1e43f943178d70b#egg=implicit
joblib==0.13.2
numpy==1.21.0
pandas==0.24.2
pkg-resources==0.0.0
progressbar2==3.42.0
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2019.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
tqdm==4.32.2
