Out of {{'{:,}'.format(all_packages)}}, only {{'{:,}'.format(nb_used_packages)}} are used.

<h1>Draft packages</h1>
This data dump is from TODO. It contains {{'{:,}'.format(total_packages)}} packages.
Out of those, there are many that look like drafts or are not maintained:

<ul>
    <li>on_pypi=0: {{draft_pkgs_not_on_pypi}}</li>
    <li>author="Example Author" / "Your Name": {{draft_pkgs_example_author}}</li>
    <li>name starts with "example": {{ draft_pkgs_example_name }}</li>
    <li>trove classifier development status alpha or earlier: {{'{:,}'.format(draft_pkgs_development_status)}}</li>
</ul>

Removing those leaves us with <b>{{'{:,}'.format(nb_noncrap)}}</b> packages.

<h1>Authors</h1>

There are {{'{:,}'.format(total_authors)}} authors of Python packages. The ten
most active authors are:

<table class="table">
    <thead>
        <tr>
            <th>Author</th>
            <th>Created packages</th>
        </tr>
    </thead>
    <tbody>
    {% for author_dict in author_dicts %}
        <tr>
            <td>{{ author_dict['author'] }}</td>
            <td>{{ author_dict['created_packages'] }}</td>
        </tr>{% endfor %}
    </tbody>
</table>

<h1>Maximum length</h1>

<table class="table" border="1">
    <thead>
        <tr>
            <th>Column</th>
            <th>NULL values</th>
            <th>Maximum Length</th>
            <th>Entry</th>
        </tr>
    </thead>
    <tbody>
        {% for attribute_name in attribute_names %}
        <tr>
            <td>{{ attribute_name }}</td>
            <td>{{ null[attribute_name] }}</td>
            <td><a href="{{ max_pkg[attribute_name] }}">{{ max[attribute_name] | length }}</a></td>
            <td>{{ max[attribute_name] | e}}</td>
        </tr>{% endfor %}
    </tbody>
</table>


<h1>Platforms</h1>

<table class="table">
    <thead>
        <tr>
            <th>Platform</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for platform in platforms %}
        <tr>
            <td>{{ platform['name'] | e }}</td>
            <td>{{ platform['count'] }}</td>
        </tr>{% endfor %}
    </tbody>
</table>


<h1>Licenses</h1>

<table class="table">
    <thead>
        <tr>
            <th>License</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for license in licenses %}
        <tr>
            <td>{{ license['name'][:50] | e }}</td>
            <td>{{ license['count'] }}</td>
        </tr>{% endfor %}
    </tbody>
</table>


<h1>Size</h1>
<ul>
    <li>75% of the packages have a size of less than {{'{:,.0f}'.format(pkg_sizes_p75 / 1000)}} KB.</li>
    <li>95% of the packages have a size of less than {{'{:,.0f}'.format(pkg_sizes_p95 / 1000)}} KB.</li>
    <li>99% of the packages have a size of less than {{'{:,.0f}'.format(pkg_sizes_p99 / 1000)}} KB.</li>
</ul>


<p>What is currently the biggest Python package?</p>


<table class="table">
    <thead>
        <tr>
            <th>Package</th>
            <th>Release Number</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for max_pkg_size in max_pkg_sizes[:20] %}
        <tr>
            <td>{{ max_pkg_size['name'] | e }}</td>
            <td>{{ max_pkg_size['release_number'] }}</td>
            <td>{{'{:,.0f}'.format(max_pkg_size['size'] / 1000000)}} MB</td>
        </tr>{% endfor %}
    </tbody>
</table>


<h1>Package type</h1>

<table class="table">
    <thead>
        <tr>
            <th>License</th>
            <th>Count</th>
        </tr>
    </thead>
    <tbody>
        {% for row in max_packagetypes %}
        <tr>
            <td>{{ row['name'] | e }}</td>
            <td>{{ row['count'] }}</td>
        </tr>{% endfor %}
    </tbody>
</table>
